<div class="setup-section">
  <h2>Progress</h2>
  <p><strong>Total Matches:</strong> <span data-tournament-field="progress-total"><%= tournament_presenter.total_matches_count %></span></p>
  <p><strong>Pending:</strong> <span data-tournament-field="progress-pending"><%= tournament_presenter.pending_matches_count %></span></p>
  <p><strong>Running:</strong> <span data-tournament-field="progress-running"><%= tournament_presenter.running_matches_count %></span></p>
  <p><strong>Completed:</strong> <span data-tournament-field="progress-completed"><%= tournament_presenter.completed_matches_count %></span></p>
  <p><strong>Failed:</strong> <span data-tournament-field="progress-failed"><%= tournament_presenter.failed_matches_count %></span></p>
</div>
