<div class="match-show-page">
  <div
    class="match-replay-layout tournament-show-layout"
    data-controller="tournament-poll"
    data-tournament-poll-url-value="<%= tournament_path(@tournament, format: :json) %>"
    data-tournament-poll-active-value="<%= @tournament.pending_matches_count.positive? || @tournament.running_matches_count.positive? %>"
  >
    <div class="game-page tournament-page">
      <div data-tournament-poll-target="meta">
        <%= render 'meta', tournament: @tournament %>
      </div>

      <div data-tournament-poll-target="progress">
        <%= render 'progress', tournament: @tournament %>
      </div>

      <div data-tournament-poll-target="standings">
        <%= render 'standings', standings: @standings %>
      </div>

      <div data-tournament-poll-target="matrix">
        <%= render 'matrix', tournament: @tournament, entrants: @entrants %>
      </div>
    </div>
  </div>
</div>
