<div class="bot-guide">
  <% sections.each do |section| %>
    <section id="<%= section[:id] %>" class="bot-guide-section">
      <h2 class="bot-guide-section__title"><%= section[:title] %></h2>

      <% if section[:intro].present? %>
        <p class="bot-guide-section__intro"><%= section[:intro] %></p>
      <% end %>

      <% if section[:visual].present? && section[:visual][:kind] == 'mini_graph' %>
        <div class="bot-guide-visual bot-guide-visual--mini_graph">
          <h3 class="bot-guide-visual__title"><%= section[:visual][:title] %></h3>
          <p class="bot-guide-visual__caption"><%= section[:visual][:caption] %></p>

          <div class="bot-guide-mini-graph">
            <%= render 'shared/bot_guide_mini_graph' %>
          </div>
        </div>
      <% end %>

      <% if section[:bullets].present? %>
        <ul class="bot-guide-list">
          <% section[:bullets].each do |bullet| %>
            <li><%= bullet %></li>
          <% end %>
        </ul>
      <% end %>

      <% Array(section[:examples]).each do |example| %>
        <article class="bot-guide-example">
          <h3 class="bot-guide-example__title"><%= example[:title] %></h3>
          <p class="bot-guide-example__explanation"><%= example[:explanation] %></p>

          <div class="bot-guide-snippets">
            <% Array(example[:snippets]).each do |snippet| %>
              <div class="bot-guide-snippet">
                <p class="bot-guide-snippet__label"><%= snippet[:label] %></p>
                <pre><code><%= snippet[:body] %></code></pre>
              </div>
            <% end %>
          </div>
        </article>
      <% end %>
    </section>
  <% end %>
</div>
