<%
data = node.data.is_a?(Hash) ? node.data : (JSON.parse(node.data) rescue {})
subject = data['subject'] || data[:subject]
subject_specifier = data['subjectSpecifier'] || data[:subjectSpecifier]
subject_specifier_mode = data['subjectSpecifierMode'] || data[:subjectSpecifierMode] || 'include'
relation = data['relation'] || data[:relation]
relation_specifier = data['relationSpecifier'] || data[:relationSpecifier]
relation_specifier_mode = data['relationSpecifierMode'] || data[:relationSpecifierMode] || 'include'
comparison = data['comparison'] || data[:comparison]
comparison_value = data['comparisonValue'] || data[:comparisonValue]

subject_label = Node.condition_subject_short_label(subject)
subject_specifier_label = Node.send(
  :specifier_summary,
  subject_specifier,
  subject_specifier_mode
)
relation_label = Node.condition_relation_label(relation)&.downcase
relation_specifier_label = (
  relation_specifier != 'any' ?
    Node.send(
      :specifier_summary,
      relation_specifier,
      relation_specifier_mode
    ) :
    nil
)
comparison_symbol = Node.condition_comparison_symbol(comparison)
comparison_value_label = (
  Node.condition_comparison_value_short_label(comparison_value)&.downcase || comparison_value.to_s
)
%>
<div class="node-preview condition-preview">
  <span class="condition-preview__chunk condition-preview__chunk--subject">
    <span class="condition-preview__lead"><%= subject_label %></span>
    <span class="condition-preview__detail"><%= subject_specifier_label %></span>
  </span>

  <span class="condition-preview__chunk condition-preview__chunk--relation">
    <span class="condition-preview__lead"><%= relation_label %></span>
    <% if relation_specifier_label.present? %>
      <span class="condition-preview__detail"><%= relation_specifier_label %></span>
    <% end %>
  </span>

  <span class="condition-preview__chunk condition-preview__chunk--comparison">
    <span class="condition-preview__lead"><%= comparison_symbol %></span>
    <span class="condition-preview__detail"><%= comparison_value_label %></span>
  </span>
</div>
