<div class="form-page">
  <div class="setup-form-section">
    <h1>New Bot</h1>

    <%= form_with(model: @bot, local: true) do |form| %>
      <% if @bot.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@bot.errors.count, "error") %> prohibited this bot from being saved:</h2>
          <ul>
            <% @bot.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-field">
        <%= form.label :name %>
        <%= form.text_field :name, required: true, autofocus: true %>
      </div>

      <div class="form-field">
        <%= form.label :description %>
        <%= form.text_area :description, rows: 4 %>
      </div>

      <div class="form-actions">
        <%= form.submit "Create Bot", class: 'btn btn-primary' %>
        <%= link_to 'Back', bots_path, class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>
