<div class="match-show-meta">
  <h1 class="match-show-title">Match <%= match.id %></h1>
  <p class="match-show-meta-item"><strong>Status:</strong> <%= match.status %></p>
  <p class="match-show-meta-item"><strong>White:</strong> <%= match.player_display_name_for(:white) %></p>
  <p class="match-show-meta-item"><strong>Black:</strong> <%= match.player_display_name_for(:black) %></p>
  <%= render 'matches/rematch_controls', rematch_options: rematch_options %>
</div>
