<%= render layout: 'matches/setup_page', locals: {
      title: 'Set Up Match',
      mode: :bot_vs_bot,
      form_url: bot_vs_bot_matches_path,
      submit_label: 'Create Match'
    } do %>
    <div class="match-setup-col">
      <div class="setup-section" data-controller="sort">
        <h2>Your Bot</h2>
        <%= render layout: "shared/index_filter_form", locals: { url: new_bot_vs_bot_match_path, frame: "own-bots-frame" } do |f| %>
          <%= f.hidden_field :own_bot_id, value: params[:own_bot_id], data: { match_setup_target: 'ownBotIdField' } %>
          <%= f.hidden_field :opponent_bot_id, value: params[:opponent_bot_id] %>
          <%= f.hidden_field :opponent_name, value: params[:opponent_name] %>
          <%= f.hidden_field :opponent_owner, value: params[:opponent_owner] %>
          <%= f.hidden_field :opponent_page, value: params[:opponent_page] %>
          <%= f.hidden_field :sort, value: params[:sort], data: { sort_target: 'field' } %>
          <div class="index-filter-row">
            <%= f.text_field :own_bot_name, value: params[:own_bot_name], placeholder: 'Search by name', class: 'index-filter-input match-setup-filter-input', data: { action: 'input->auto-submit#submitDebounced' } %>
            <button type="button" class="btn btn-secondary" data-action="click->auto-submit#reset">Reset</button>
          </div>
        <% end %>
        <%= turbo_frame_tag "own-bots-frame" do %>
          <%= render 'matches/sort_controls', options: Matches::SortOptions.new(params[:sort], default: Bot::DEFAULT_SORT).options %>
          <%= render 'matches/bot_list',
            bots: @own_bots,
            pagy: @own_bots_pagy,
            radio_name: 'match[own_bot_id]',
            selected_id: @selected_own_bot_id,
            change_action: 'change->match-setup#ownBotChosen',
            show_details: true %>
        <% end %>
      </div>
    </div>

    <div class="match-setup-col">
      <div class="setup-section" data-controller="sort">
        <h2>Opponent Bot</h2>
        <%= render layout: "shared/index_filter_form", locals: { url: new_bot_vs_bot_match_path, frame: "opponent-bots-frame", data: { match_setup_target: 'opponentForm' } } do |f| %>
          <%= f.hidden_field :own_bot_id, value: params[:own_bot_id], data: { match_setup_target: 'ownBotIdField' } %>
          <%= f.hidden_field :opponent_bot_id, value: params[:opponent_bot_id] %>
          <%= f.hidden_field :own_bot_name, value: params[:own_bot_name] %>
          <%= f.hidden_field :own_bot_page, value: params[:own_bot_page] %>
          <%= f.hidden_field :opponent_sort, value: params[:opponent_sort], data: { sort_target: 'field' } %>
          <div class="index-filter-row">
            <%= f.text_field :opponent_name, value: params[:opponent_name], placeholder: 'Search by name', class: 'index-filter-input match-setup-filter-input', data: { action: 'input->auto-submit#submitDebounced' } %>
            <%= f.text_field :opponent_owner, value: params[:opponent_owner], placeholder: 'Search by owner', class: 'index-filter-input match-setup-filter-input', data: { action: 'input->auto-submit#submitDebounced' } %>
            <button type="button" class="btn btn-secondary" data-action="click->auto-submit#reset">Reset</button>
          </div>
        <% end %>
        <%= turbo_frame_tag "opponent-bots-frame" do %>
          <%= render 'matches/sort_controls', options: Matches::SortOptions.new(params[:opponent_sort], default: 'elo_desc').options %>
          <%= render 'matches/bot_list',
            bots: @opponent_bots,
            pagy: @opponent_bots_pagy,
            radio_name: 'match[opponent_bot_id]',
            selected_id: @selected_opponent_bot_id,
            show_details: true %>
        <% end %>
      </div>
    </div>
<% end %>
